#main {
			width: 100%; 
		}
		
#inner1{
			width:100%; 
			background-color: #348781; 
			height:60px;
			overflow: hidden;
			position: relative;
		}

#inner2{
			width:90%; 
			position: relative;
			left: 5%;
		}

		
#welcome{
			width: 20%; 
			height: 20px;
			overflow: hidden;
			position: relative;
			float: left;
			left: 2%;
		}

#form1{
			width:25%; 
			height:25px;
			overflow: hidden;
			position: relative;
			float: right;
		}

#GC{
		width: 25%;
		position: relative;
		float: left;
		left: 5%;
		height: 200px;
		border: groove;		
	}

#GJ{
		width: 25%;
		position: relative;
		float: left;
		left: 10%;
		height: 200px;
		border: groove;
	}

#OG{
		width: 25%;
		position: relative;
		float: left;
		left: 15%;
		height: 200px;
		border: groove;
	}

h1 { 
		text-indent: 20px; 
		font-family: Tahoma, Geneva, sans-serif;
	}
	
#image_menu {
					width: 15%;
					position: relative;
					float: left;
					border: groove;
				}
				
#updates {
					width: 65%;
					position: relative;
					float: left;
					left: 1.5%;
					height: 600px;
					border: groove;
			}
			
#connections {
						width: 15%;
						position: relative;
						float: left;
						left: 2.5%;
						height: 100px;
						border: groove;
				 }